/* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
/* Using :root pseudo element to make variables accessible in the whole html tree */
:root {
  --black: #171321;
  --dkblue: #0d314b;
  --plum: #4b0d49;
  --hotmag: #ff17e4;
  --magenta: #e310cb;
  --aqua: #86fbfb;
  --white: #f7f8fa;
  --font-size: 1.3rem;
  --mono: 'Oxygen mono', monospace;
  --sans: Oxygen, sans-serif;
}
/* border box model: https://css-tricks.com/box-sizing/ */
/* generic styles to the page */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  background-color: var(--black);
  color: var(--white);
  font-size: var(--font-size);
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

a {
  color: var(--magenta);
}

a:hover {
  color: var(--hotmag);
  text-decoration: none;
}

ul {
  padding: 0;
}

p:last-child {
  margin-top: 3rem;
}

img {
  width: 100%;
}

/* Specific Styles to the page */
/* Navbar */

.navbar {
  font-family: var(--mono);
  font-size: 80%;
  padding: 20px;
}

.navbar i[class*='fa-'] {
  font-size: 150%;
  color: var(--aqua);
}

.navbar i[class*='fa-']:hover {
  color: var(--magenta);
}

.navbar ul {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  list-style-type: none;
}

.navbar ul li:first-child {
  flex-basis: 100%;
  text-align: center;
  font-family: var(--sans);
}

.navbar ul h1 {
  position: relative;
}

.navbar ul li:first-child a::before {
  font-family: 'Font Awesome 6 Brands';
  content: '\f41b';
  font-size: 100%;
  position: absolute;
  left: calc(50% - 6.25rem);
  top: 0.3rem;
}

.navbar a {
  color: var(--white);
  text-decoration: none;
  display: block;
}

.navbar a:hover {
  color: var(--magenta);
}

.cta-button {
  background-color: var(--magenta);
  padding: 8px;
  border-radius: 5px;
  font-family: var(--mono);
  color: var(--white);
  text-decoration: none;
}

a.cta-button:hover {
  background-color: var(--hotmag);
  color: var(--white);
}

/* Intro styling */
.intro {
  padding: 4rem 1rem 10rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.intro p {
  line-height: 1.5;
}

.intro .name {
  font-family: var(--mono);
}

.name > span {
  font-family: var(--sans);
  font-size: 4rem;
  color: var(--aqua);
}

.intro h3 {
  font-size: 4rem;
}

/* Project Section */

.projects {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 1rem 10rem 1rem;
}

.projects h2 {
  font-size: 2.5rem;
  padding-top: calc(1.5 * 2.5rem);
}

.projects h3 {
  color: var(--aqua);
  font-weight: bolder;
}

.projects h4 {
  font-family: var(--mono);
  font-size: 1rem;
  margin-top: 40px;
}

.projects p {
  font-size: 1rem;
}

.projects p:first-of-type {
  background: var(--black);
  padding: 20px;
  border-radius: 10px;
}

.projects p:last-of-type {
  margin-bottom: 0;
}

.projects ul {
  margin: 0;
  list-style: none;
  font-size: 1.2rem;
  display: flex;
  justify-content: left;
  gap: 10px;
}

.projects img {
  padding: 20px;
  margin-top: 20px;
  border-top: 1px solid var(--aqua);
  border-left: 1px solid var(--aqua);
  border-radius: 25px;
}

/* Styling contact section */

.contact {
  width: 400px;
  text-align: center;
  padding: 3rem 1rem;
  margin: 0 auto;
}

/* Footer */
.footer {
  margin: 20px 0;
  text-align: center;
  padding: 3rem 0;
}

.footer h3 {
  font-weight: normal;
}

.footer ul {
  list-style: none;
  font-size: 150%;
  margin-top: 18px;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  gap: 23px;
}

.footer a:hover {
  color: var(--hotmag);
}

.footer p {
  font-size: 70%;
  margin-top: 18px;
}

/* Styling backgrounds */

.section-plum {
  background: var(--plum);
}

.section-dkblue {
  background: var(--dkblue);
}

.section-devider {
  background: linear-gradient(
    167deg,
    rgba(255, 23, 228, 1) 15%,
    rgba(134, 251, 251, 1) 85%
  );
  height: 3px;
}

/* Media queries */

@media (min-width: 850px) {
  /* Navbar */
  .navbar {
    max-width: 1250px;
    margin: 0 auto;
  }

  .navbar a {
    display: inline;
  }

  .navbar ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
  }

  .navbar ul li:first-child {
    flex: 1 1 auto;
    text-align: left;
    margin-right: auto;
    margin-left: 40px;
    font-family: var(--sans);
  }

  .navbar ul li:first-child a::before {
    font-family: 'Font Awesome 6 Brands';
    content: '\f41b';
    font-size: 100%;
    position: absolute;
    left: -2rem;
    top: 0.3rem;
  }

  /* Project Section */

  .projects {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 40px;
  }

  .projects article {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin: 40px 0;
  }

  .projects img {
    grid-column: 1/6;
    grid-row: 1/2;
    padding: 20px;
    border-top: 1px solid var(--aqua);
    border-left: 1px solid var(--aqua);
    border-radius: 25px;
  }

  .projects article:nth-child(odd) img {
    grid-column: 6/11;
  }

  .projects .text {
    text-align: right;
    grid-column: 4/11;
    grid-row: 1/2;
    z-index: 1;
  }

  .projects article:nth-child(odd) .text {
    text-align: left;
    grid-column: 1/8;
  }

  .projects h2 {
    font-size: 2.5rem;
    padding: calc(1.5 * 2.5rem) 0;
  }

  .projects h3 {
    color: var(--aqua);
    font-weight: bolder;
  }

  .projects h4 {
    font-family: var(--mono);
    font-size: 1rem;
  }

  .projects p:first-of-type {
    background: var(--black);
    padding: 20px 10px 20px 40px;
    border-radius: 10px;
  }

  .projects article:nth-child(odd) p:first-of-type {
    padding: 20px 40px 20px 10px;
  }

  .projects p:last-of-type {
    margin-bottom: 0;
  }

  .projects ul {
    margin: 0;
    list-style: none;
    font-size: 1.2rem;
    display: flex;
    justify-content: right;
    gap: 10px;
  }

  .projects article:nth-child(odd) ul {
    justify-content: left;
  }
}
